<div class="container mt-4">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Lista de Noticias</h2>
        <div class="input-group mb-3">
          <input type="text" id="searchTerm" name="searchTerm" [(ngModel)]="searchTerm" class="form-control" placeholder="Buscar por Nombre">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary" (click)="searchByTerm()">Buscar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6.5" *ngFor="let news of news">
        <div class="card mb-1">
          <div class="row no-gutters">
            <div class="col-md-12 text-center">
              <app-news [news]="news">
                <img src="{{ news.image }}" alt="{{ news.name }}" class="card-img-top" style="width: 200px; height: 200px; object-fit: cover;">
              </app-news>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  